:root {
   font-size: 62.5%;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-image: linear-gradient(45deg, #264653 10%, #2A9D8F 80%) ;
   height: 100vh;

   font-family: 'Roboto', sans-serif;
}

#container {
   height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - */
main {
   background: #DCEDFF;

   width: max-content;

   margin: 5rem auto;
   padding: 8rem 4rem;

   display: flex;
   flex-direction: column;

   border: none;
   border-radius: 0.5rem;
}

input {
   background: #264653;
   color: #FFF;

   padding: 1rem 1.5rem;
   margin: 1rem 0;

   border: none;
   border-radius: 0rem 1rem 1rem 1rem;
}

/* - - - - - - - - - - - - - - - - - - - - */
#painel {
   background: blue;

   display: flex;
   flex-direction: column;
   align-items: center;

}


